@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ubuntu:wght@400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #001f35;
  font-family: "Ubuntu", helvetica;
  min-height: 100vh;
  padding: 50px 0;
  position: relative;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}
.title-block {
  margin: 0 auto;
  text-align: center;
}
.title-block h1 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 4.6rem;
}
.title-block small {
  font-size: 1rem;
  letter-spacing: 0.25em;
  opacity: 0.8;
  animation-name: flashing;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

.work-list {
  margin-top: 120px;
  text-align: center;
}

.work-list li {
  margin: 15px auto;
  max-width: 300px;
  transform: scale(1);
  transition: all 0.3s ease;
  opacity: 0.3;
}
.work-list li:hover {
  transform: scale(1.1);
  opacity: 1;
}
.work-list li:hover a {
  text-shadow: 0px 0px 0px #2768e7, 4px 2px 0px #2768e7;
  -webkit-text-stroke: 0px;
  color: #fff;
}

.work-list li a {
  font-size: 2rem;
  color: transparent;
  letter-spacing: 0.3em;
  transition: all 0.2s linear;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: #fff;
}

footer {
  width: 100%;
  text-align: center;
  opacity: 0.2;
  position: absolute;
  bottom: 15px;
}

@media (max-width: 778px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .title-block h1 {
    font-size: 2.6rem;
  }

  .title-block small {
    font-size: 0.8rem;
  }

  .work-list {
    margin-top: 80px;
  }

  .work-list li a {
    font-size: 1.6rem;
  }
}

@keyframes flashing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
