@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ubuntu:wght@400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px 0;
  min-height: 100vh;
  color: #fff;
  font-family: "Ubuntu", helvetica;
  background-color: #001f35;
  background: linear-gradient(220deg, rgb(20 55 135 / 92%) 0%, rgb(0 27 96 / 69%) 100%);
  position: relative;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}
.title-block {
  margin: 0 auto;
  text-align: center;
}
.title-block h1 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 4.6rem;
}
.title-block small {
  font-size: 1rem;
  letter-spacing: 0.25em;
  opacity: 0.8;
  animation-name: flashing;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

.work-list {
  margin-top: 120px;
  text-align: center;
}

.work-list li {
  margin: 0 auto;
  padding: 13px 20px;
  max-width: 720px;
  transform: scale(1);
  transition: all 0.3s ease;
  opacity: 0.3;
  border-left: 1px solid #fff;
}
.work-list li:hover {
  border-left: 3px solid #fff;
  transform: scale(1.1);
  opacity: 1;
}
.work-list li:hover a {
  color: #fff;
}

.work-list li a {
  font-size: 2rem;
  color: #fff;
  letter-spacing: 0.3em;
  transition: all 0.2s linear;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: #fff;
}

footer {
  width: 100%;
  text-align: center;
  opacity: 0.2;
  position: absolute;
  bottom: 15px;
}

@media (max-width: 778px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .title-block h1 {
    font-size: 2.6rem;
  }

  .title-block small {
    font-size: 0.8rem;
  }

  .work-list {
    margin-top: 80px;
  }

  .work-list li a {
    font-size: 1.6rem;
  }
}

@keyframes flashing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
