*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;

  margin: 0;
  padding: 0;
  background-color: #14243f;
}

.header,
.main,
.footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  flex-grow: 1;
}

.main-title {
  font-size: 55px;
  text-align: center;
  color: #fff;
  margin: 0 !important;
}

.demo-text {
  margin: 0;
  color: #fff5;
  text-align: center;
}

.main-menu {
  margin: 35px auto 0;
  width: 100%;
  min-height: 100px;
  transition: all 0.5s ease;
}

.main-menu nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  margin: 0 auto;
}

.main-menu__link {
  margin-top: 15px;
  display: inline-block;
  max-width: 100%;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}
.main-menu__link:first-letter {
  font-size: 1.2em;
  color: #4169e1;
}
.main-menu__link:last-child {
  margin-bottom: 25px;
}

footer {
  width: 100%;
  height: 50px;
  flex-grow: 1;
  text-align: center;
  /*position: absolute;
	bottom: 0;*/
}
.mate-be {
  color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 950px) {
  .container {
    width: 95%;
  }

  .main-menu {
    width: 100%;
  }
}
