/*body {
	height: 1000px;
}
*/
header {
	height: 100vh;
	background: url(../img/code-3.jpg) center no-repeat fixed;
	background-size: cover;
}
header h1, 
main .new-website h2 {
	font-size: 80px;
}
@media (max-width: 721px) {
	header h1,
	main .new-website h2 {
		font-size: 55px;
	}
}

main .description p {
	font-size: 1.3rem;
}

main .new-website {
	height: 100vh;
	background: url(../img/code-end.jpg) top no-repeat fixed;
	background-size: cover;
}
