@import url(reset.css);

/* GENERAL
===========================*/
*{
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body{
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}

.container{
	max-width: 940px;
	margin: 0 auto;

	text-align: center;
}

h2{
	font-size: 40px;
	font-weight: 700;
	color: #222222;
	text-transform: uppercase;
}

h3{
	font-size: 18px;
	font-weight: 700;
	color: #222222;
}

p{
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #777777;
}

img{
	display: block;
}

/* HEADER
===========================*/
header{
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	/* height: 100vh; */
	width: 100%;
}

.logo {
	width: 100px;
}

.main__menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
}

.main__menu ul{
	display: flex;
	list-style: none;
}

.main__menu ul a{
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	opacity: 0.7;

	margin-left: 35px;

	transition: opacity 0.3s linear; 
}
.main__menu ul a:hover{
	opacity: 1;
}

/* burger button */
.burger-block {
	display: none;
	width: 30px;
	height: 20px;
	position: relative;
}

.burger-block .burger {
	width: 100%;
	height: 3px;
	background-color: #fff;
	position: absolute;
	top: 42%;
}

.burger-block .burger::before {
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	background-color: inherit;
	position: relative;
	bottom: 10px;
}

.burger-block .burger::after {
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	background-color: inherit;
	position: relative;
	top: 7px;
}

/* burger menu */
.substrate {
	width: 100%;
	height: 100%;
	background-color: #0007;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease;
}

.substrate .burger-menu {
	width: 50%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	right: -50%;
	transition: all .3s ease;
}

.substrate .burger-menu .close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 6%;
	right: 9%;
}
.substrate .burger-menu .close::before {
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	background-color: #222;
	position: relative;
	top: 14px;
	transform: rotate(45deg);
}
.substrate .burger-menu .close::after {
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	background-color: #222;
	position: relative;
	top: 11px;
	transform: rotate(-45deg);
}

.burger-menu .burger-nav {
	margin-top: 30%;
	min-height: 50%;
	/* border: 1px solid red; */
}

.burger-menu .burger-nav ul {
	list-style: none;
}

.burger-menu .burger-nav ul li {
	margin-top: 30px;
	font-size: 25px;
}

.burger-menu .burger-nav ul li a {
	text-decoration: none;
	color: #333;
}


/* HOME
==========================*/
.home{
	padding: 160px 0;
}

.home h1{
	font-size: 40px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
}

.home h2{
	font-size: 75px;
	color: #fff;

	margin-top: 50px;
}

.home a{
	margin-top: 60px;

	display: inline-block;
	width: 240px;
	height: 65px;

	background-color: #fed136;
	border-radius: 3px;

	font-size: 18px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 65px;
	color: #484543;

	transition: 0.3s linear;
}
.home a:hover{
	background-color: #484543;
	color: #fed136;
}

/* SERVICES
==========================*/
.services{
	display: flex;
	flex-wrap: wrap;
	margin: 120px 0;
}

.sub-title{
	margin-top: 20px;

	font-size: 16px;
}

.services__list{
	margin-top: 80px;

	display: flex;
	flex-wrap: wrap;
}

.services__item{
	box-sizing: border-box;
	width: 33.3%;
	padding: 0 40px;
}

.services__item img{
	margin: 0 auto;
}

.services__item h3{
	margin-top: 25px;
	margin-bottom: 20px;
}

.services__item:first-child{
	padding-left: 0;
}
.services__item:nth-child(2){
	padding: 0 25px;
}
.services__item:last-child{
	padding-right: 0;
}

/* PORTFOLIO
==========================*/
.portfolio{
	background-color: #f7f7f7;
	padding: 120px 0;
}

.portfolio__list{
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}

.portfolio__list img {
	width: 30%;
}

/* ABOUT US
==========================*/
.about__us{
	margin: 120px 0;
}

.about__list{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about__item{
	margin-top: 80px;

	width: 60%;
	display: flex;
	align-items: center;
}
.left{
	padding-left: 60px;
	text-align: right;
}

 .right{
	align-self: flex-end;
	flex-direction: row-reverse;
	padding-right: 60px;
	text-align: left;
}

.left img{
	margin-left: 35px;
}
.right img{
	margin-right: 35px;
}

.about__item .h3{
	margin-top: 10px;
	margin-bottom: 20px;
}

/* FOOTER
==========================*/
footer{
	text-align: center;
	padding-bottom: 100px;
}


/* MEDIA */
@media (max-width: 950px) {
	.container {
		width: 90%;
	}
}

@media (max-width: 768px) {

	h2 {
		font-size: 30px;
	}

	.main__menu .header-nav {
		display: none;
	}

	.burger-block {
		display: block;
	}

	.home h1{
		font-size: 25px;
		font-weight: 400;
		color: #fff;
		text-transform: uppercase;
	}

	.home h2{
		font-size: 45px;
		color: #fff;

		margin-top: 50px;
	}

	.home a {
		width: 180px;
		height: 55px;
		font-size: 16px;
		line-height: 55px;
	}

	.services__list {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.services__item {
		margin: 40px auto 0;
		padding: 0;
		width: 90%;
	}
	.services__item:first-child {
		margin-top: 0;
	}

	.portfolio__list {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.portfolio__list img {
		width: 100%;
		margin-bottom: 15px;
	}

	.about-list {
		-ms-align-items: center;
		align-items: center;
	}

	.about__item {
		/* margin: 60px auto 0; */
		padding: 0;
		width: 95%;
		/* text-align: center; */
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column-reverse;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}

	.about__item img {
		margin-bottom: 25px;
		width: 150px;
		margin-left: -20px;
	}

	.about__item.left img {
		-ms-align-self: flex-end;
		align-self: flex-end;
		justify-content: flex-end;
		margin-right: -20px;
	}

	footer {
		padding: 25px 0;
		border-top:  5px dotted #0005;
	}
}

